.headclassement {
    max-width: 500px;
    text-align: center;
    border: solid 1px black;
    border-radius: 2rem;
    box-shadow: 0.75rem 0.5rem 0.5rem black;
}




ol {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    text-align: center;

}

li {
    max-width: 500px;
    border: solid 1px black;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    box-shadow: 0.75rem 0.5rem 0.5rem black;
    }


li:hover, li:focus, li:active {
    background-color: black;
    transition: 0.5s;
}