:root {
    --primary-color: blue ;
    --secondary-color: black ;
    --tertiary-color: white;
    --primary-font: ariana sans serif ;
    --secondary-font: verdana ;
}



body{
    background-color: #9e8b8b;
    margin:auto;
    box-sizing: border-box;
}



  #accueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : space-around;
    align-items: flex-start;
    background-color: yellow;
    margin: auto;
    padding:auto;
    }

    .box1 {
        display: block;
        border: 4px solid blanchedalmond;
        margin: auto 15vw;
        border-radius: 5vh;
    }

    h1{
        text-align: center;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px  solid blanchedalmond;
        
    }

    .img1 {
        width:55vw;
        height:55vw;
        display: block;
        margin:auto;

    }

    h2{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid blanchedalmond;
    }
    p {
       text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #histoire {
        display: flex;
        justify-content : space-around;
        align-items: flex-start;
        background-color: yellow;
        margin:auto;
        padding:auto;
      
       
        }

        h3{
            text-align: center;
            justify-content: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            border:2px solid blanchedalmond;
        }



    .container {
        display:flex;
        flex-direction: column;
        text-align: center;
        border: 4px solid blanchedalmond ;
        border-radius: 5vh;
        margin: auto 15vw;
    }
    .img2 {
        width:55vw;
        height: 55vw;
        margin :auto;
 }

    #story{
        display: flex;
        justify-content: center;
    }
    .p2 {
        text-align:center;
 font-family:Verdana, Geneva, Tahoma, sans-serif;


  }

 