
:root {
    --primary-color: blue ;
    --secondary-color: black ;
    --tertiary-color: white;
    --primary-font: ariana sans serif ;
    --secondary-font: verdana ;
}
    * {

        /* margin: 0;
        padding: 0;  */
        text-decoration: none;
        font-family: "League Spartan", sans-serif;
    }

   

   

    body{
        background-color: #ad8131;
        margin:auto;
        box-sizing: border-box;
    }
    header {
        
    } 
     

    .icone {
        width: 50px;
    }

    .titre {
        display: flex;
        justify-content: flex-end;
        background-color: rgb(78, 81, 90);
        margin-top: 6rem;
        
    }
    
    .titre img1 {
        align-items: flex-end;
        margin-left: 70px;
        margin-right: 50px;
    }
    
    .h1samy {
        text-shadow:#FFFEC8 0 -1px 0,
        #ff3a00 1px 1px 0,
        #c01c01 2px 2px 0,
        #bf1b01 3px 3px 0,
        #e90b20 4px 4px 0,
        #850103 5px 5px 0,
        #333 5px 5px 10px;color:#FFD100;
        margin-left: auto;
        margin-right: auto;

    }
    
    
    nav {
        position:fixed;
        top:0%;
        width: 100%;
        height: 50px;
    
    }
    
    
    ul {
        height: 95px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
    margin:0em;
padding:0,5em}


    ul li {
            list-style: none;
            margin:0%;
            
        }
        
        ul li a {
            text-decoration: none;
            text-shadow:#FFFEC8 0 -1px 0,
            #ff3a00 1px 1px 0,
            #c01c01 2px 2px 0,
            #bf1b01 3px 3px 0,
            #e90b20 4px 4px 0,
            #850103 5px 5px 0,
            #333 5px 5px 10px;color:#FFD100;
            font-size: 12px;
        }
        
    

  #accueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : space-around;
    align-items: flex-start;
    margin: auto;
    padding:15%
    }

    .box1 {
        display: block;
        border: 4px solid blanchedalmond;
        margin: auto 15vw;
        border-radius: 5vh;
    }

    h1{
        text-align: center;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px  solid blanchedalmond;
        
    }

    .img1 {
        width:55vw;
        height:55vw;
        display: block;
        margin:auto;

    }

    h2{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid blanchedalmond;
    }
    p {
       text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #histoire {
        display: flex;
        justify-content : space-around;
        align-items: flex-start;
        margin:auto;
        padding:auto;
      
       
        }

        h3{
            text-align: center;
            justify-content: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            border:2px solid blanchedalmond;
        }



    .container {
        display:block;
        flex-direction: column;
        text-align: center;
        border: 4px solid blanchedalmond ;
        border-radius: 5vh;
        margin: auto 15vw;
    }
    .img2 {
        width:55vw;
        height: 55vw;
        margin :auto;
 }

    #story{
        display: flex;
        justify-content: center;
    }
    .p2 {
        text-align:center;
 font-family:Verdana, Geneva, Tahoma, sans-serif;


  }

 .classement {
    margin: 5em;
 }

  .headclassement {
    max-width: 500px;
    text-align: center;
    border: solid 1px black;
    border-radius: 2rem;
    box-shadow: 0.75rem 0.5rem 0.5rem black;

    margin-left: auto;
        margin-right: auto;
    

}

ol {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    text-align: center;
    

}

li {
   display: list-item;
    border: solid 1px black;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    box-shadow: 0.75rem 0.5rem 0.5rem black;
    padding:0.6em;
  
    }


li:hover, li:focus, li:active {
    background-color: black;
    transition: 0.5s;
}

/*button top */
   
.scrollTop {
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: url(assets/but_to_top.png);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}






@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&family=League+Spartan:wght@200&display=swap');



.titleBlock {
    margin-top: 0px;
    margin-bottom: 30px;
    
}



.titleTeam {
    text-align: center;
    
}





.teammembers {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    text-align: center;



}

/* Carousel */

.items {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    margin-top: 20rem;
   bottom: 10rem;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

    
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

